/* .hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP838zjV75banvrx8dWcKLxOFU25dvthV0wJbKA0YjN6n4oMvaANoCDRItsR6l-JPjmm4&usqp=CAU');
    background-size: cover;
    background-position: center;
    background-color: blue;
    margin-bottom: 40%;
  }
  
  .hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
  }
  
  .hero-overlay h2 {
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    margin: 0 0 20px 80px;
    max-width: 800px;
  }
  
  .info-box {
    position: absolute;
    margin-top: 80%;
    font-size: 16px;
    padding: 10px;
    width: 90%;
    padding-left: 50%;
  }
  .hero-text h1 {
    font-size: 20px;
    padding-left: 25px;
  }
  .hero-section{
    margin-bottom: 30%;
    height: 60%;
  }

  .blue-box {
    position: absolute;
    top: 100%;
    font-size: 14px;
    margin: 0 auto;
    padding: 15px;
    width: 70%;
    margin-right: 50%;
  }

  .core-values {
    padding: 30px;
  }

  .values {
    flex-direction: column;
    align-items: center;
  }

  .value {
    flex: 1 1 90%;
    margin: 10px 0;
  }

  .partners-section {
    padding: 30px;
  }

  .partners-carousel {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .hero-text {
    top: 5%;
    font-size: 14px;
    padding: 10px;
  }

  .blue-box {
    font-size: 12px;
    margin: 5px;
    padding: 10px;
  }

  .core-values {
    padding: 20px;
  }

  .values {
    flex-direction: column;
    align-items: stretch;
  }
  
   .container:nth-child(4)::before {
    background-color: #000;
  }
  










  

  @media (max-width: 768px) {
    .hero-overlay h1 {
      font-size: 32px;
      margin-left: 20px;
    }
  
    .info-box {
      margin-left: 20px;
      margin-right: 20px;
    }
  }   */
