.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
     /* background-image: url('./assets/about hero.jpg');  */
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP838zjV75banvrx8dWcKLxOFU25dvthV0wJbKA0YjN6n4oMvaANoCDRItsR6l-JPjmm4&usqp=CAU');
    background-size: cover;
    background-position: center;
    /* test*/
    background-color: blue;
    margin-bottom: 40%;
  }
  
  .hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
  }
  
  .hero-overlay h2 {
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    margin: 0 0 20px 80px;
    max-width: 800px;
  }
  
  .info-box {
    position: absolute;
    top: 90%;
    left: 3%;
    border-radius: 5px;
    background: rgba(54, 54, 161, 0.966);
    margin-left: 80px;
    padding: 35px;
    max-width: 700px;
  }
  .info-box h3{
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 20px;
  }
  
  .info-box p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
  }



  .container {
   
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .core-values {
    text-align: center;
  }
  .core-values h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  .value-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .value-card img {
    max-width: 50px;
    margin-bottom: 15px;
  }
  .value-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .value-card p {
    font-size: 14px;
    color: #666;
  }
  .footer-section h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    position: relative;
  }
  
   .container::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 60px;
    height: 3px;
  }
  
   .container:nth-child(1)::before {
    background-color: #0077be;
  }
  
   .container:nth-child(2)::before {
    background-color: #0077be;
  }
  
   .container:nth-child(3)::before {
    background-color: #97c93d;
  }
  
   .container:nth-child(4)::before {
    background-color: #000;
  }










  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .hero-overlay h1 {
      font-size: 32px;
      margin-left: 20px;
    }
  
    .info-box {
      margin-left: 20px;
      margin-right: 20px;
    }
  }  
